!
! GCC compiler suite
!


!compiler.fc                             :  gfortran -std=f2008

! not all F2003 features supported in this version ...
compiler.fc                             :  gfortran -Dwithout_f2003
compiler.ld                             :  gfortran

compiler.flags.default.fflags           :  -ffree-line-length-none -fimplicit-none
compiler.flags.default.ldflags          :  

compiler.flags.wp-r8.fflags             :  -fdefault-real-8
compiler.flags.wp-r8.ldflags            :  

compiler.flags.check.fflags             :  -fbounds-check -ffpe-trap=invalid,zero -Wall
compiler.flags.check.ldflags            :  

compiler.flags.optim-none.fflags        :  -O0
compiler.flags.optim-none.ldflags       :  

compiler.flags.optim-fast.fflags        :  -O3
compiler.flags.optim-fast.ldflags       :  
