!
! compiler specific settings : Intel compiler v17.0.2
!

! fortran compiler:
compiler.fc                         :  ifort

! same compiler for openmp, since this is enabled via the flags:
compiler.fc.openmp                  :  ${compiler.fc}

! allow extended source lines (up to 132 characters) for fixed form:
compiler.f77                        :  ifort -extend-source

!
! * default flags:
!
! -traceback          :   Generate extra information in the object file to provide
!                         source file traceback information. This option increases
!                         the size of the executable program, but has no impact on
!                         run-time execution speeds.
!
! -warn warn errors   :   Tells the compiler to change all warning-level messages to
!                         error-level messages; this includes warnings about Fortran
!                         standards violations.
!
! -warn declarations  :   Enables error messages about any undeclared symbols. 
!                         This option makes the default data type undefined
!                         (IMPLICIT NONE)
!
					 
compiler.flags.default.fflags       : -traceback -warn errors -warn declarations
compiler.flags.default.ldflags      : 

! * precision flags:

compiler.flags.real8.fflags         :  -r8
compiler.flags.real8.ldflags        : 

! * MPI flags:

! mimic the '_OPENMP' macro for MPI:
compiler.flags.mpi.fflags           :  -D_MPI
compiler.flags.mpi.ldflags          :  -D_MPI


! * OpenMP flags:

compiler.flags.openmp.fflags        :  -qopenmp
compiler.flags.openmp.ldflags       :  -qopenmp


!
! * optim
!
!    -ip                 :  enable interprocedural optimizations for single-file compilation
!
!    -vec-report[n]      :  Controls the diagnostic information reported by the vectorizer.
!
!    -fp-model strict    :  strictly adhere to value-safe optimizations when implementing 
!                           floating-point calculations.
!
              
compiler.flags.optim-none.fflags        :  -O0
compiler.flags.optim-none.ldflags       : 

! less fast:
compiler.flags.optim-lfast.fflags       :  -O2
compiler.flags.optim-lfast.ldflags      :  

! fast:
compiler.flags.optim-fast.fflags        :  -O3
compiler.flags.optim-fast.ldflags       :  

! very fast:
compiler.flags.optim-vfast.fflags       :  -Ofast
compiler.flags.optim-vfast.ldflags      :  

! stict floating point operations,
! otherwise impact of optim on result:
compiler.flags.optim-strict.fflags      :  -fp-model strict
compiler.flags.optim-strict.ldflags     :

! * check

compiler.flags.check-all.fflags         :  -check all -check noarg_temp_created -fpe0 -ftrapuv
compiler.flags.check-all.ldflags        : 

! * debug

compiler.flags.debug.fflags             :  -g -debug all
compiler.flags.debug.ldflags            :

! * specials:

! flags to allow implicit typing :
compiler.flags.implicit.fflags          :  -warn nodeclarations

