! ######################################################################
! ###
! ### output
! ###
! ######################################################################

! ** destination

! destination directory; <project>/<runid> should be included if necessary
le.output.outdir            :  ${my.project.dir}/output


! ** attributes

! global attributes:
le.output.author            :  ${user.longname}
le.output.institution       :  ${user.institution}
le.output.version           :  ${my.le.release}
le.output.model             :  LE
le.output.expid             :  ${run.id}


! ** conventions

! Key "convention" is used for formatting:
!   cf        : following CF conventions
!   racmo     : following requirements for Racmo-LE coupling
!   megapoli  : following requirements for MEGAPOLI project
!
my.output.convention    : cf


! ** overwrite

! replace existing files (T|F) ?
! if False, an error message is issuesed if a file already exist
le.output.replace           :  T


! ** GrADS support

! write GrADS control files (T|F) ?
le.output.ctl               :  T


! ** lockfile

! write lockfile after finishing output ?
le.output.lockfile.apply    :  F
! every .. hour ?
le.output.lockfile.dhour    :  3.0
! filename template, replace %{ccyymmdd} and %{hhmm} by date and time:
le.output.lockfile.template :  ${le.output.outdir}/lock_racmo_%{ccyymmdd}_%{hhmm}


! ** file descriptions

! Key "collect" describes how time records are collected in a single file:
!   daily       :  hours [00,24), used for instantanious fields
!   daily24     :  hours [00,24], used for budgets
!   instant     :  one time record per file

! Key "levtype" describes the type of vertical levels
! (only used for conc and dat files):
!   levels      : model levels; indices 0 (ground), 1 .. nz, nz+1 (aloft)
!   heights     : relative to orography (m)
!   elevations  : relative to sea-level (m)
! The actual levels (indices, or absolute number in m) are set in the key "levels" .
!
! In case of heights/elevations, the key "height_dist" determines
! the vertical sampling method:
!   'sample'    : layer value
!   'interp'    : linear interpolation between mid of layers
!

! Key "dhour" specifies the output frequency in hours, probably "1.0" .
!
my.output.dhour         :  1.0




!
! Tracer names as in array 'specname' :
!   o3 no no2 ...
!   dust_f dust_c ...
! Special names:
!   tpm10 tpm25                   : total aerosol loads
!   tss tdust                     : total seasalt, total dust
!   (tpm25|tpm10|o3)_biascorr     : bias corrected fields
!

! ** data files

!le.output.dat.files                 :  meteo lu pollendat
le.output.dat.files                 :  meteo
!le.output.dat.files                 :  

!~ meteo data:
!le.output.dat.meteo.fields          :  area oro lsm \
!                                       blh h dh dens rhumid temper \
!                                       ovol vol \
!                                       afluxx afluxy afluxz \
!                                       cflx cfly cflz \
!                                       hpressure mpressure\
!                                       icc bcc clwc iclwc praini raini\
!                                       tsurf srh dsurf \
!                                       usurf vsurf wspd_surf wdir_surf \
!                                       sst tcc radd rain snow \
!                                       slt swvl1 swvl2 swvl3 smi2 smi3
le.output.dat.meteo.fields          :  area oro h temper rain \
                                         usurf vsurf wspd_surf wdir_surf
le.output.dat.meteo.bounding_box    : 
le.output.dat.meteo.levtype         :  levels
le.output.dat.meteo.levels          :  all
le.output.dat.meteo.convention      :  ${my.output.convention}
le.output.dat.meteo.dhour           :  ${my.output.dhour}
le.output.dat.meteo.collect         :  daily

!~ landuse fractions:
le.output.dat.lu.fields             :  lu_grs lu_ara lu_crp lu_cnf lu_dcf lu_wat lu_urb lu_tun lu_des lu_ice lu_sav lu_trf lu_wai lu_med
le.output.dat.lu.bounding_box       : 
le.output.dat.lu.levtype            :  levels
le.output.dat.lu.levels             :  1
le.output.dat.lu.convention         :  ${my.output.convention}
le.output.dat.lu.dhour              :  ${my.output.dhour}
le.output.dat.lu.collect            :  daily

!! pollen data:
!#include lotos-euros-output-pollen.rc


! ** data2 files
le.output.dat2.files                    :
!le.output.dat2.files                    : meteo-2d meteo-3dh meteo-3dih
!le.output.dat2.files                    : meteo-2d meteo-3du meteo-3dv
!le.output.dat2.files                    : meteo-2d meteo-3dc meteo-3du meteo-3dv
!le.output.dat2.files                    :  meteo-2d meteo-3d meteo-h3d
!le.output.dat2.files                    :  meteo-3d meteo-3di meteo-3dih

!~ surface data at grid cells:
le.output.dat2.meteo-2d.fields          :  area lsm tsurf wspd_surf wdir_surf
le.output.dat2.meteo-2d.bounding_box    : 
le.output.dat2.meteo-2d.gridtype        :  cells
le.output.dat2.meteo-2d.levtype         :  levels
le.output.dat2.meteo-2d.levels          :  1
le.output.dat2.meteo-2d.convention      :  ${my.output.convention}
le.output.dat2.meteo-2d.dhour           :  ${my.output.dhour}
le.output.dat2.meteo-2d.collect         :  daily

!~ full level data at cell centers:
le.output.dat2.meteo-3d.fields          :  uv.u uv.v
le.output.dat2.meteo-3d.bounding_box    : 
le.output.dat2.meteo-3d.gridtype        :  cells
le.output.dat2.meteo-3d.levtype         :  levels
le.output.dat2.meteo-3d.levels          :  all
le.output.dat2.meteo-3d.convention      :  ${my.output.convention}
le.output.dat2.meteo-3d.dhour           :  ${my.output.dhour}
le.output.dat2.meteo-3d.collect         :  daily

!~ full level data (input levels!) at grid corners:
le.output.dat2.meteo-3dc.fields          :  u_crnr_met v_crnr_met uv_crnr_met.u uv_crnr_met.v
le.output.dat2.meteo-3dc.bounding_box    : 
le.output.dat2.meteo-3dc.gridtype        :  corners
le.output.dat2.meteo-3dc.levtype         :  levels
le.output.dat2.meteo-3dc.levels          :  1:20
le.output.dat2.meteo-3dc.convention      :  ${my.output.convention}
le.output.dat2.meteo-3dc.dhour           :  ${my.output.dhour}
le.output.dat2.meteo-3dc.collect         :  daily

!~ full level data at u-edges:
le.output.dat2.meteo-3du.fields         :  uflux
le.output.dat2.meteo-3du.bounding_box   : 
le.output.dat2.meteo-3du.gridtype       :  u-edges
le.output.dat2.meteo-3du.levtype        :  levels
le.output.dat2.meteo-3du.levels         :  all
le.output.dat2.meteo-3du.convention     :  ${my.output.convention}
le.output.dat2.meteo-3du.dhour          :  ${my.output.dhour}
le.output.dat2.meteo-3du.collect        :  daily

!~ full level data at v-edges:
le.output.dat2.meteo-3dv.fields         :  vflux
le.output.dat2.meteo-3dv.bounding_box   : 
le.output.dat2.meteo-3dv.gridtype       :  v-edges
le.output.dat2.meteo-3dv.levtype        :  levels
le.output.dat2.meteo-3dv.levels         :  all
le.output.dat2.meteo-3dv.convention     :  ${my.output.convention}
le.output.dat2.meteo-3dv.dhour          :  ${my.output.dhour}
le.output.dat2.meteo-3dv.collect        :  daily

!~ half level data at cells:
le.output.dat2.meteo-3dh.fields          :  kz halt hp
le.output.dat2.meteo-3dh.bounding_box    : 
le.output.dat2.meteo-3dh.gridtype        :  cells
le.output.dat2.meteo-3dh.levtype         :  halflevels
le.output.dat2.meteo-3dh.levels          :  all
le.output.dat2.meteo-3dh.convention      :  ${my.output.convention}
le.output.dat2.meteo-3dh.dhour           :  ${my.output.dhour}
le.output.dat2.meteo-3dh.collect         :  daily

!~ input half level data at cells:
le.output.dat2.meteo-3dih.fields          :  kz_ifs halt_met hp_met
le.output.dat2.meteo-3dih.bounding_box    : 
le.output.dat2.meteo-3dih.gridtype        :  cells
le.output.dat2.meteo-3dih.levtype         :  input_halflevels
le.output.dat2.meteo-3dih.levels          :  all
le.output.dat2.meteo-3dih.convention      :  ${my.output.convention}
le.output.dat2.meteo-3dih.dhour           :  ${my.output.dhour}
le.output.dat2.meteo-3dih.collect         :  daily

! ** concentration files

! Set key 'addheight'    to 'T' to have the height levels written too.
! Set key 'addthickness' to 'T' to have the height thickness written too.

!le.output.conc.files                :  
le.output.conc.files                : conc-sfc conc-3d
!le.output.conc.files                : conc-sfc conc-3d conc-bound conc-3d-full

! surface level only:
le.output.conc.conc-sfc.fields        :  o3 no2 no nh3 so2 hno3 co n2o5 form iso pan \
                                           no3a_f no3a_c so4a_f so4a_c nh4a_f \
                                           ppm_f ppm_c ec_f ec_c pom_f pom_c \
                                           na_ff na_f na_c na_cc na_ccc \
                                           dust_ff dust_f dust_c dust_cc dust_ccc \
                                           tpm25 tpm10 tnmvoc tdust tss
le.output.conc.conc-sfc.bounding_box  : 
le.output.conc.conc-sfc.levtype       :  levels
le.output.conc.conc-sfc.levels        :  0
le.output.conc.conc-sfc.addheight     :  F
le.output.conc.conc-sfc.addthickness  :  F
le.output.conc.conc-sfc.halo          :  F
le.output.conc.conc-sfc.dhour         :  ${my.output.dhour}
le.output.conc.conc-sfc.collect       :  daily
le.output.conc.conc-sfc.convention    :  ${my.output.convention}

!le.output.conc.conc-3d.fields         :  o3 no no2 co tpm25 tpm10
le.output.conc.conc-3d.fields         :  ${le.output.conc.conc-sfc.fields}
le.output.conc.conc-3d.bounding_box   : 
le.output.conc.conc-3d.levtype        :  levels
le.output.conc.conc-3d.levels         :  all
le.output.conc.conc-3d.addheight      :  T
le.output.conc.conc-3d.addthickness   :  F
le.output.conc.conc-3d.halo           :  F
le.output.conc.conc-3d.dhour          :  ${my.output.dhour}
le.output.conc.conc-3d.collect        :  daily
le.output.conc.conc-3d.convention     :  ${my.output.convention}
le.output.conc.conc-3d.height_dist    :  -

! full level range, top from boundary conditions:
le.output.conc.conc-3d-full.fields         :  o3 ch4 co
le.output.conc.conc-3d-full.bounding_box   : 
le.output.conc.conc-3d-full.levtype        :  levels
le.output.conc.conc-3d-full.levels         :  top
le.output.conc.conc-3d-full.addheight      :  T
le.output.conc.conc-3d-full.addthickness   :  F
le.output.conc.conc-3d-full.halo           :  F
le.output.conc.conc-3d-full.dhour          :  ${my.output.dhour}
le.output.conc.conc-3d-full.collect        :  daily
le.output.conc.conc-3d-full.convention     :  ${my.output.convention}
le.output.conc.conc-3d-full.height_dist    :  -

! 3D fields used for boundary conditions;
! define bounding box to limit data volume:
le.output.conc.conc-bound.fields           :  ${le.output.conc.conc-sfc.fields}
le.output.conc.conc-bound.bounding_box     :  2.0 10.0 48.0 56.0
le.output.conc.conc-bound.levtype          :  levels
le.output.conc.conc-bound.levels           :  all
le.output.conc.conc-bound.addheight        :  F
le.output.conc.conc-bound.addthickness     :  F
le.output.conc.conc-bound.halo             :  F
le.output.conc.conc-bound.dhour            :  ${my.output.dhour}
le.output.conc.conc-bound.collect          :  daily
le.output.conc.conc-bound.convention       :  ${my.output.convention}
le.output.conc.conc-bound.height_dist      :  -


! ** emission files

! only levtype "levels" is supported;
! interpretation of "levels" is:
!   0         : total column
!   1 .. nz   : model layers
!   nz+1      : aloft

! target files:
!le.output.emis.files                    :  
!le.output.emis.files                    :  emis
le.output.emis.files                    :  emis emis_bio

! total emissions:
le.output.emis.emis.fields              :  no no2 so2 so4a_f co ch4 nh3 tpm10 tpm25
le.output.emis.emis.bounding_box        :   
le.output.emis.emis.levtype             :  levels
le.output.emis.emis.levels              :  0
le.output.emis.emis.dhour               :  ${my.output.dhour}
le.output.emis.emis.collect             :  daily24
le.output.emis.emis.convention          :  ${my.output.convention}
le.output.emis.emis.bio                 :  F

! bio emissions:
le.output.emis.emis_bio.fields          :  iso no terp
le.output.emis.emis_bio.bounding_box    :   
le.output.emis.emis_bio.levtype         :  levels
le.output.emis.emis_bio.levels          :  0
le.output.emis.emis_bio.dhour           :  ${my.output.dhour}
le.output.emis.emis_bio.collect         :  daily24
le.output.emis.emis_bio.convention      :  ${my.output.convention}
le.output.emis.emis_bio.bio             :  T

! ** vd files

!
! supported fields that are important for deposition:
!    Ra_<lu>          (x,y,h,t)     ! [s/m] atm. resistance over [z0,z0+h]
!    Rb_<tr>_<lu>     (x,y  ,t)     ! [s/m] laminair visc. bound. layer resistance
!    Rc_<tr>_<lu>     (x,y  ,t)     ! [s/m] canopy surface resistance
!    vd_<tr>_<lu>     (x,y,h,t)     ! [m/s] deposition velocity
!    lufrac_<lu>      (x,y    )     ! [0-1] landuse fraction
!    fluxdry_<tr>_<lu>(x,y  ,t)     ! [kg/m2/s] drydeposition flux
!    area             (x,y    )     ! [m2] grid cell area
!    fstom_o3_hr      (x,y  ,t)     ! [umol m-2 s-1] LU dependent stomatal ozone flux
!    Rstom            (x,y  ,t)     ! [s/m] Stomatal resistance
!    lai              (x,y  ,t)     ! [m2 leaf m-2 surface] Leaf Area Index
!    sai              (x,y  ,t)     ! [m2 leaf m-2 surface] Surface Area Index
!    rbc_o3_lu        (x,y  ,t)     ! [s/m] canopy surface and boud. layer resistance
!    czcanopytop_lu   (x,y  ,t)     ! [mol mol-1] canopy surface concentrations (IN Future change to concentration output??)
!    
! landuse classes following DEPAC :
!   grs = grass                     
!   ara = arable                    
!   crp = permanent crops           
!   cnf = coniferous forest         
!   dec = deciduous forest          
!   wat = water                     
!   urb = urban                     
!   oth = other (short grassy area) 
!   dsr = desert 
!
!   whe = wheat
!   bee = beeches
!   spr = spruce
!   sem = semi-natural grassland                   
!

! compute ozone flux specials (T|F) ?
!    fstom_o3_hr      (x,y  ,t)     ! [umol m-2 s-1] LU dependent stomatal ozone flux
!    Rstom            (x,y  ,t)     ! [s/m] Stomatal resistance
!    rbc_o3_lu        (x,y  ,t)     ! [s/m] canopy surface and boud. layer resistance
!    czcanopytop_lu   (x,y  ,t)     ! [mol mol-1] canopy surface concentrations (IN Future change to concentration output??)
!deposition.extra_output   :  T
deposition.extra_output   :  F

le.output.vd.files                  :  
!le.output.vd.files                  :  vd
!
le.output.vd.vd.fields              :  fluxdry vd
le.output.vd.vd.tracers             :  o3 no hno3 so2 nh3 no2 no3a_f nh4a_f so4a_f so4a_c no3a_c
le.output.vd.vd.landuses            :  grs ara crp cnf dec
le.output.vd.vd.bounding_box        : 
le.output.vd.vd.levtype             :  heights
le.output.vd.vd.levels              :  0.0 2.5 5.0 10.0 20.0 25.0
le.output.vd.vd.convention          :  ${my.output.convention}
le.output.vd.vd.dhour               :  ${my.output.dhour}
le.output.vd.vd.collect             :  daily


! deposition velocities and resistances, diagnostic calculations on different heigths
! surface concentrations calculated for different landuse surface types

le.output.vd-diag.files                  :  
!le.output.vd-diag.files                  :  vd-diag conc-sfc-lu

le.output.vd-diag.vd-diag.fields         :  vd
le.output.vd-diag.vd-diag.tracers        :  o3 no hno3 so2 n2o5 no3 no2 nh3 na_f na_ff na_c na_cc na_ccc so4a_f so4a_c
le.output.vd-diag.vd-diag.landuses       :  grs ara crp cnf dec wat urb oth dsr
le.output.vd-diag.vd-diag.bounding_box   : 
le.output.vd-diag.vd-diag.levtype        :  heights
le.output.vd-diag.vd-diag.levels         :  0.0 2.5 25.0
le.output.vd-diag.vd-diag.convention     :  ${my.output.convention}
le.output.vd-diag.vd-diag.dhour          :  ${my.output.dhour}
le.output.vd-diag.vd-diag.collect        :  daily

le.output.vd-diag.conc-sfc-lu.fields         :  conc_sfc_lu
le.output.vd-diag.conc-sfc-lu.tracers        :  o3 no hno3 so2 n2o5 no3 no2 nh3 na_f na_ff na_c na_cc na_ccc so4a_f so4a_c
le.output.vd-diag.conc-sfc-lu.landuses       :  grs ara crp cnf dec wat urb oth dsr
le.output.vd-diag.conc-sfc-lu.bounding_box   : 
le.output.vd-diag.conc-sfc-lu.levtype        :  levels
le.output.vd-diag.conc-sfc-lu.levels         :  0
le.output.vd-diag.conc-sfc-lu.convention     :  ${my.output.convention}
le.output.vd-diag.conc-sfc-lu.dhour          :  ${my.output.dhour}
le.output.vd-diag.conc-sfc-lu.collect        :  daily

! ** dry depositon budgets (hourly)

! target files:
!le.output.drydep.files              :  
le.output.drydep.files              :  drydepo dryemis

! specify per target:
le.output.drydep.drydepo.fields      :  o3 so2 so4a_f so4a_c no no2 hno3 no3a_f no3a_c nh3 nh4a_f co form
le.output.drydep.drydepo.bounding_box:  
le.output.drydep.drydepo.dhour       :  ${my.output.dhour}
le.output.drydep.drydepo.collect     :  daily24
le.output.drydep.drydepo.convention  :  ${my.output.convention}
le.output.drydep.drydepo.process     :  drydepo

! specify per target:
le.output.drydep.dryemis.fields      :  nh3
le.output.drydep.dryemis.bounding_box:  
le.output.drydep.dryemis.dhour       :  ${my.output.dhour}
le.output.drydep.dryemis.collect     :  daily24
le.output.drydep.dryemis.convention  :  ${my.output.convention}
le.output.drydep.dryemis.process     :  dryemis


! ** wet depositon budgets (hourly)

! target files:
!le.output.wetdep.files              :  
le.output.wetdep.files              :  wetdepo

! specify per target:
le.output.wetdep.wetdepo.fields      :  so2 so4a_f so4a_c hno3 no no2 no3a_f no3a_c nh3 nh4a_f
le.output.wetdep.wetdepo.bounding_box:  
le.output.wetdep.wetdepo.dhour       :  ${my.output.dhour}
le.output.wetdep.wetdepo.collect     :  daily24
le.output.wetdep.wetdepo.convention  :  ${my.output.convention}


! ** budgets (daily)

! daily budget files to be put out:
!le.output.budget.files              :  
le.output.budget.files              :  budget

! specify per target file:
! supported fields:
!  daily dry deposition budgets :
!    dry[sox|noy|nhx]
!  daily wet deposition budgets : 
!    wet[sox|noy|nhx]
!  ozone dry deposition flux and emission per landuse class:
!    o3[fe]_[gr|ar|pc|cf|df|wa|ur|sg|de|wh|sp|be|se]
!  daily ozone maximum:
!    o3max
!  NH3 of previous month:
!    nh3ave
le.output.budget.budget.fields      :  wetsox wetnoy wetnhx \
                                       drysox drynoy drynhx
                                       !\
                                       o3max nh3ave
le.output.budget.budget.bounding_box : 
le.output.budget.budget.landuses     :  grs ara crp cnf dec


! ** tracer columns

! target files:
le.output.column.files                  :  
!le.output.column.files                  :  column col200

! specify per target:
le.output.column.column.fields          : no2
le.output.column.column.bounding_box    :  
! level type: "all" for model layers only, "top" including aloft
le.output.column.column.levtype         :  top
! top in Pa, 0.0 for all:
le.output.column.column.ptop            :  0.0
! time resolution:
le.output.column.column.dhour           :  ${my.output.dhour}
le.output.column.column.collect         :  daily
! save in kg/m2:
le.output.column.column.convention      :  ${my.output.convention}
!! save in column mixing ratio (ppb):
!le.output.column.column.convention      :  x

! specify per target:
le.output.column.col200.fields          :  no2
le.output.column.col200.bounding_box    :  
! level type: "all" for model layers only, "top" including aloft
le.output.column.col200.levtype         :  top
! top in Pa, 0.0 for all:
le.output.column.col200.ptop            :  200.0e2
! time resolution:
le.output.column.col200.dhour           :  ${my.output.dhour}
le.output.column.col200.collect         :  daily
! save in kg/m2:
le.output.column.col200.convention      :  ${my.output.convention}
!! save in column mixing ratio (ppb):
!le.output.column.col200.convention      :  x

! ** AOD files

! target files:
le.output.aod.files                     :  
!le.output.aod.files                     :  aod

! specify per target:
le.output.aod.aod.biascorr              :  F
le.output.aod.aod.bounding_box          :  
le.output.aod.aod.dhour                 :  1.0
le.output.aod.aod.convention            :  ${my.output.convention}


! ** radiance output

! target files:
le.output.rad.files                 :  
!le.output.rad.files                 :  aod2

!~ optical properties
le.output.rad.aod2.fields           :  aod_550nm aod_1020nm   \
                                       tau_550nm tau_1020nm \
                                       extinction_550nm extinction_1020nm \
                                       ssa_550nm ssa_1020nm\
                                       asy_550nm asy_1020nm \
                                       refr_re_fine_550nm refr_re_fine_1020nm\
                                       refr_im_fine_550nm refr_im_fine_1020nm\
                                       refr_re_coarse_550nm refr_re_coarse_1020nm\
                                       refr_im_coarse_550nm refr_im_coarse_1020nm\
                                       reff_f reff_c \
                                       angstrom

le.output.rad.aod2.bounding_box    : 
le.output.rad.aod2.levtype         :  levels
le.output.rad.aod2.levels          :  all
le.output.rad.aod2.convention      :  ${my.output.convention}
le.output.rad.aod2.dhour           :  ${my.output.dhour}
le.output.rad.aod2.collect         :  daily


! *** OMI tropospheric columns

! put out simulated columnes ? leave empty for not;
! provide keyword used in filenames (currently only 1 output possible):
le.output.omi_trc.files                 :  
!le.output.omi_trc.files                 :  omi_${le.output.omi_trc.tracer}

! which tracer ? currently files available for:
!  no2   : original data
!  form  : simulated formaldehyde
le.output.omi_trc.tracer         :  no2

!
! template for filenames, supported keys:
!   %{year}      : year
!   %{yyyymmdd}  : 8-digit day
!   %{TRACER}    : tracer (uppercase)
!   %{tracer}    : tracer (lowercase)
!
le.output.omi_trc.filenames      :  ${OBSERVATIONS}/TEMIS/airpollution/no2col/data/omi/eu_v2/%{year}/%{month}/OMI-Aura_NO2_%{yyyymmdd}.nc

! tropospheric averaging kernel only valid for tropospheric layers;
! specify pressure top for troposphere (Pa);
! here we use 200 hPa folllowing page 4 of ISOTROP document 
!   "Synthetic Observations Product Specification" :
le.output.omi_trc.ptropo         :  200.0e2

! Boundary fields needed for merging top boundary with LE layers at OMI-column
! Calculation with pressure levels and concentration fields
! Use correct values from boundary input (is this case macc_rea)
le.output.omi_trc.top_hp         : __cams_nrt_hp
le.output.omi_trc.top_trc        : __cams_nrt_no2


!
! ** "Sat" files
!    EMIP processed
!

! file keys:
le.output.sat.files              :  tropomi-no2


!
!~ tropomi no2
!

! tracer:
le.output.sat.tropomi-no2.tracer        :  no2

!
! Template for filenames, supported keys:
!   %{yyyy}, %{mm}, %{dd}, %{hh}, %{mn}   : date/time elements
!   %{TRACER}, %{tracer}                  : tracer (upper case, lower case)
!
! Files produced by "EMIP/v1.2" conversion tool.
!
!le.output.sat.tropomi-no2.filename      :  ${my.scratch}/EMIP/TROPOMI/%{TRACER}/${grid.name}/%{yyyy}/%{mm}/S5P_OFFL_L2_%{TRACER}_%{yyyy}%{mm}%{dd}_%{hh}%{mn}.nc
le.output.sat.tropomi-no2.filename      :  

! variable names:
le.output.sat.tropomi-no2.varname.hp    :  pressure_levels
le.output.sat.tropomi-no2.varname.yr    :  vcd_trop
le.output.sat.tropomi-no2.varname.sr    :  sigma_vcd_trop

! corners included:
le.output.sat.tropomi-no2.with_corners  :  T

! profiles? otherwise column is assumed:
le.output.sat.tropomi-no2.with_profile  :  F

! a-priori profiles included?
le.output.sat.tropomi-no2.with_apriori  :  F

! representation error type:
!   data     : as provided in observation file, 
!               eventually with scaling factor
!   frac     : as fraction of observed value
!
le.output.sat.tropomi-no2.r.type           :  data
!le.output.sat.tropomi-no2.r.type           :  frac
!
! r from data; extra scaling factor?
!le.output.sat.tropomi-no2.r.data.scaling   :  1.0
!
!! representation error as fraction of observation;
!!   example:  r = 30% y
!!   trancated to [1.2,3.6]   (reached for y=4 and y=12)
!le.output.sat.tropomi-no2.r.frac.factor    :  0.30
!le.output.sat.tropomi-no2.r.frac.min       :  1.2
!le.output.sat.tropomi-no2.r.frac.max       :  3.6





! ** MODIS data

! list with MODIS files to put out (space seperated, empty for none);
! this defines the name of the file; no further settings yet:
le.output.modis.files             :  
!le.output.modis.files             :  modis

!
! Data files are stored in:
!   <archive>/<platform>/
! Each of these directories should contain a listing file with all file names:
!   <product>.list
! Filename contains the 'average' time ;
! for Europe, the actual measurement times differ less than 5 minutes:
!   <product>.A<year><jday>.<hour><minu>.*.*.hdf
!

! archive directory:
le.output.modis.archive           :  /projects/SATELLIETEN/MODIS_c5/2006
le.output.modis.platforms         :  AQUA1 TERRA
! AQUA1 settings:
le.output.modis.AQUA1.product     :  MYD04_L2
! TERRA settings:
le.output.modis.TERRA.product     :  MOD04_L2


! ** MAORI output

! MAORI : sample model at station locations
!   Used for Kalman Filter, not supported for model yet.
maori.sets                        :  


