! ######################################################################
! ###
! ### Boundary condition settings.
! ### Climatologies.
! ###
! ######################################################################

!===========================================================
! ** Isaksen model
!===========================================================

le.bound.clim-isak.path   :  ${my.data.dir}/bound/isak/v1/


!===========================================================
! ** Logan ozone climatology
!===========================================================

le.bound.clim-logan.path  :  ${my.data.dir}/bound/logan/v2/


